 
 /* Nahiara Sánchez García y UO295645*/

 /* 
 COLORES
 - rojo: #F81D06
 - blanco: #F8EEEA
 - terracota: #96271D
 - rosado: #EC8C86
 - terracota oscuro: #791E16

 COMBINACIONES POSIBLES:
 - terracota-blanco --> TERRACOTA COLOR LETRA; BLANCO COLOR FONDO.
 - rosado-negro --> 
 - blanco-negro --> NEGRO COLOR LETRA; BLANCO COLOR FONDO.
 - blanco-terracotaOscuro --> TERRACOTA OSCURO LETRA; 


CHULETA DE USO: 
- Fondo: #FEF7F7
- Links: #96271D
 */



 /* ESPECIFIDAD: 001 */
 body{
    font-family: "Calibri", sans-serif; 
    color: #000; 
    background-color: #fef7f7; 
 }

 body section {
  padding: 20px;
  border-bottom: 2px solid lightgray;
 }

 /* ESPECIFIDAD: 002 */
 body header {
    font-family: "Calibri", sans-serif;
    color: #000;
    background-color: #fef7f7;
 }

  /* ESPECIFIDAD: 002 */
  body header h1 {
   font-family: "Candara", sans-serif;
   border-bottom: 3px solid #000;
   padding-bottom: 5px;
   display: inline-block;
  /* Hereda el color de fondo de header */
}

body h2 {
  color: #000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-variant: small-caps;
  letter-spacing: 2px;
  font-weight: bold;
}

 body header h1 a {
   font-family: "Calibri", sans-serif;
   color: #000;
   text-decoration: none;
   /* color de fondo especificado en el header*/
 }

 /* ESPECIFIDAD: 003*/
 header + p:has(a) {
   font-size: smaller;
 }



 /* ESPECIFIDAD: 002 */
 a {
    color: #96271D; 
    /* Hereda el color de fondo de header*/
 }



 a:visited {
    color: #4e1c18;
 }

  a:hover {
   color: #f81d06;
   /* Hereda el color de fondo de header*/
}

  a:focus {
   color: #f81d06;
 }



 dt {
   color: #96271D;
   font-weight: bold;
 }

 ul {
  list-style: none;
  padding-left: 0;
 }

 ul li::before {
  content: "•";
    color: #96271D; /* color del icono */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
 }


 ol {
  counter-reset: list-counter;
  list-style: none;
  padding-left: 1em;
 }

 ol li {
  counter-increment: list-counter;
  padding: 0.8em 0;
  position: relative;
  font-size: 0.9em;
 }

 ol li::before {
  content: counter(list-counter) ".";
  color: #96271D;
  font-size: 0.9em;
  font-weight: bold;
  position: absolute;
  left: -1em;
}

 dt {
  line-height: 1.5;
 }

 table {
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
  border: 1px solid #a1a0a0;
  color: #000000
 }

 td{
  padding: 10px;
  text-align: center;
 }

 th {
  font-family: "Candara", sans-serif;
 }

 tr:nth-child(2n+1){
  background-color: #d3d3d3;
 }

 tr:nth-child(2n){
  background-color: rgb(243, 240, 240);
 }

 caption{
  font-family: "Candara", sans-serif;
  padding: 20px;
  caption-side: initial;
  color: #F81D06;
  font-weight: bold;
  text-align: left;
 }

 video {
  width: 100%;
  height: auto;
}

audio {
  width: 50%; 
}